@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    @apply bg-ink/10 text-ink;
  }
}

body {
  margin: 0;
}

html {
  height: 100%;
}

#root {
  min-height: 100%;
  height: 100%;
}
